<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>COVID-19 Model API</title>
  <meta name="description" content="API for COVID-19 Model">
  <meta name="author" content="markgeejw">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <h3>Nothing here.</h3>
  <p>The API endpoints are at /model, /info, /case.</p>
  <p>This is the URL for the <a href="https://covidmodelling.com">COVID-19 Model Webapp</a>. This API has been made available for developer use. More information can be found on the <a href="https://github.com/markgeejw/covid-api">Github repository</a>.</p>
</body>
</html>